<!doctype html><html lang=ru><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Видео Анчи Барановой</title>
<style>
summary {cursor:pointer}
h2 {display:inline}
:target {border: 5px dotted}
[data-title]:after {content: "[" attr(data-title) "]"}
/* h2 a {color: inherit !important} */
body:has(#v:not(:checked)) .v {display:none}
body:has(#s:not(:checked)) .s {display:none}
body:has(#l:not(:checked)) .l {display:none}
.v .type::after{content: "📹"}
.s .type::after{content: "📱"}
.l .type::after{content: "📺"}
</style>
</head><body>
<center>
	<h1>Все видео Анчи Барановой</h1>
	<p>С описаниями и таймкодами, если есть в описании.</p>
	<p>
		Показать:
		<label><input type="checkbox" id="v" checked>Видео 📹 </a></label>
		~
		<label><input type="checkbox" id="l" checked>Стримы 📺 </a></label>
		~
		<label><input type="checkbox" id="s">Шортсы 📱 </a></label>
	</p>
	<p>
		<a href="javascript:Array.from(document.querySelectorAll('details')).forEach(x=>x.open=false);void 0">Свернуть все</a>
		~
		<a href="javascript:Array.from(document.querySelectorAll('details')).forEach(x=>x.open=true);void 0">Развернуть все</a>
	</p>
</center>
<hr>
<p>Субтитры ко всем видео, где они есть, можно скачать тут:
<a href="https://github.com/ancha-times/ancha-times.github.io/releases/download/subs/subs.dos.txt">для Win/DOS</a> ~
<a href="https://github.com/ancha-times/ancha-times.github.io/releases/download/subs/subs.nix.txt">для Linux</a>.</p>
HERE
<hr>
<center><small>
		Сгенрировано скриптом, который есть <a href="https://github.com/ancha-times/ancha-times.github.io">на GitHub</a>.
</small></center>
</body></html>
